<footer>
    <section id="footer-logo">
        <img src="/images/logo/zeBoneSemFundo.png" alt="Logo Zé Boné">
    </section>

    <section id="footer-info">
        <p>Rua dos Bobos, 0 - São Paulo, SP - 02000-02</p>
    </section>

    <section id="social-icons">
        <a href="https://www.instagram.com/"><img src="/images/icones/instagram.png" alt="Instagram"></a>
        <a href="https://www.youtube.com/"><img src="/images/icones/youtube.png" alt="Youtube"></a>
        <a href="https://twitter.com/"><img src="/images/icones/twitter.png" alt="Twitter"></a>
    </section>
</footer>