<header>
    <nav id="nav-green">
        <section id="header-logo">
            <article id="logo-img">
                <img src="/images/logo/zeBoneSemFundo-branco.png" alt="Logo Zé Boné">
            </article>

            <article id="logo-name">
                <h2>Zé Boné</h2>
            </article>
        </section>

        <section id="menu">
            <img src="/images/icones/icons8-cardápio-branco.png" alt="Menu departamentos">
        </section>

        <section id="search">
            <form action="" method="get">
                <input type="search" name="search" id="search" placeholder="Busque seu produto">
            </form>
        </section>
        
        <section id="header-icons">
            <a href="#" id="user">
                <img src="/images/icones/icons8-usuário-50.png" alt="Usuário">
            </a>

            <a href="#" id="cart">
                <img src="/images/icones/icons8-carrinho-favorito-48.png" alt="Carrinho">
            </a>
        </section>
    </nav>
</header>