<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head')%>

    <body>
       
        <%- include('partials/header')%>

        <main>
            <div class="hamburguer-menu">
                <img src="/images
    /hambuguer-menu.png" alt="" srcset="">
                <h1 class="checkout">Finalizar Compra</h1>
            </div>
            <div class="section-main">
                <section class="section-form">
                    <section>
                        <aside>
                            <ol>
                                <li>
                                    <h2>Seu Cadastro</h2>
                                    <p>Arthur Philip Prange</p>
                                    <p>arthur.prange@gmail.com</p>
                                    <p>425.354.569-88</p>
                                </li>
                                <li>
                                    <h2>Endereço de Entrega</h2>
                                    <p>Arthur Philip Prange</p>
                                    <p>Rua monte alegre,182,154</p>
                                    <p>Perdizes - São Paulo/SP</p>
                                    <p>CEP 05014-000</p>
                                </li>
                            </ol>
                        </aside>
                    </section>
                    <section class="forma-pagamento">
                        <h2>1. Forma de Pagamento</h2>
                        <h3>Escolha entre Cartão de Crédito, Boleto Bancário ou PIX</h3>
                        <form action="">
                            <div class="inputs-pagamentos">
                                <input
                                    type="radio"
                                    id="html"
                                    name="credito"
                                    value="HTML"
                                >
                                <label for="html">Crédito</label>
                                <br>
                                <input
                                    type="radio"
                                    id="css"
                                    name="boleto"
                                    value="CSS"
                                >
                                <label for="css">Boleto Bancário</label>
                                <br>
                                <input
                                    type="radio"
                                    id="javascript"
                                    name="pix"
                                    value="JavaScript"
                                >
                                <label for="javascript">Pix</label>
                            </div>
                            <h3>Escolha a bandeira do seu cartão</h3>
                            <div class="inputs-bandeiras">
                                <input
                                    type="radio"
                                    id="visa"
                                    name="age"
                                    value="30"
                                >
                                <label for="age1">Visa</label>
                                <br>
                                <input
                                    type="radio"
                                    id="master"
                                    name="age"
                                    value="60"
                                >
                                <label for="age2">Master</label>
                                <br>
                                <input
                                    type="radio"
                                    id="elo"
                                    name="age"
                                    value="100"
                                >
                                <label for="age3">Elo</label>
                                <input
                                    type="radio"
                                    id="dinners"
                                    name="age"
                                    value="100"
                                >
                                <label for="age3">Dinners</label>
                                <input
                                    type="radio"
                                    id="american"
                                    name="age"
                                    value="100"
                                >
                                <label for="age3">American</label>
                            </div>
                            <div class="buttons">
                                <button class="buttons-produtos">Escolher + produtos</button>
                                <button class="buttons-produtos">Cancelar Compra</button>
                                <button class="buttons-produtos">Finalizar Compra</button>
                            </div>
                        </form>
                    </section>
                </section>
                <section class="carrinho">
                    <a href="http://">voltar ao carrinho</a>
                    <h2 class="carrinho-title">Meu Carrinho</h2>
                    <h2 class="carrinho-confira">Confira os itens do seu pedido</h2>
                    <h3>aslkjjaçs asdj çaska çllskdk aççsk</h3>
                    <div class="infos-quantidade">
                        <p>Quantidade: 1</p>
                        <p>R$ 9.999,99</p>
                    </div>
                    <div class="totais">
                        <h2>Total a Vista</h2>
                        <p>R$ 9.999,99</p>
                    </div>
                    <div class="totais">
                        <h2>Total a Prazo</h2>
                        <p>R$ 9.999,99</p>
                    </div>
                    <a href="http://">Alterar meus produtos</a>
                </section>
            </div>
        </main>
        <%- include('partials/footer')%>
    </body>
</html>
