<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zé Boné - Tudo para sua cabeça</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/stylesProd.css">
    <link rel="icon" type="image/x-icon" href="/images/logo/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>

    <%- include('partials/header')%>
        <main>
            <form action="/manipular/criar" method="post" enctype="multipart/form-data">
                <label for="nome">Nome do Produto: </label>
                <input type="text" name="nome" id="nome">
                <br>
                <br>
                <label for="preco">Preço (inserir centavos com ponto): </label>
                <input type="number" name="preco" id="preco">
                <br>
                <br>
                <label for="cor">Cor do Produto: </label>
                <input type="text" name="cor" id="cor">
                <br>
                <br>
                <label for="tamanho">Tamanho do Produto: </label>
                <input type="text" name="tamanho" id="tamanho">
                <br>
                <br>
                <label for="marca">Marca do Produto: </label>
                <input type="text" name="marca" id="marca">
                <br>
                <br>
                <label for="descricao">Descrição: </label>
                <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>
                <br>
                <br>
                <label for="img1">Imagem 1: </label>
                <input type="file" name="img1" id="img1">
                <br>
                <br>
                <label for="img2">Imagem 2: </label>
                <input type="file" name="img2" id="img2">
                <br>
                <br>
                <label for="img3">Imagem 3: </label>
                <input type="file" name="img3" id="img3">
                <br>
                <br>
                <label for="img4">Imagem 4: </label>
                <input type="file" name="img4" id="img4">
                <br>
                <br>
                <label for="qtd_estoque">Quantidade em Estoque: </label>
                <input type="number" name="qtd_estoque" id="qtd_estoque">
                <br>
                <br>
                <label for="categorias_id">ID da Categoria: </label>
                <input type="number" name="categorias_id" id="categorias_id">
                <br>
                <br>
                <button type="submit">Enviar</button>
            </form>
        </main>

    <%- include('partials/footer')%>
</body>

</html>