<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head')%>
<body>
        <%- include('partials/header')%>
            <main class="main-index">
                <section id="banner">
                    <img src="/images/products/Banner_Bone.jpg" alt="Banner Boné">
                </section>

                <section id="main-prods">
                    <article class="cards">
                        <a href="/produto/1">
                            <div id="bone1"></div>

                            <div class="info">
                                <div class="etiqueta">
                                    <h3>Boné Laranja</h3>
                                    <h4>R$ 120,00</h4>
                                    <h5>ou até <strong>4x</strong> de <strong>R$ 30,00</strong> sem juros</h5>
                                </div>
                            </div>
                        </a>
                    </article>

                    <article class="cards">
                        <a href="/produto/2">
                            <div id="bone2"></div>

                            <div class="info">
                                <div class="etiqueta">
                                    <h3>Boné Preto Ny</h3>
                                    <h4>R$ 100,00</h4>
                                    <h5>ou até <strong>4x</strong> de <strong>R$ 25,00</strong> sem juros</h5>
                                </div>
                            </div>
                        </a>
                    </article>

                    <article class="cards">
                        <a href="/produto/3">
                            <div id="bone3"></div>

                            <div class="info">
                                <div class="etiqueta">
                                    <h3>Boné Preto Seahawks</h3>
                                    <h4>R$ 100,00</h4>
                                    <h5>ou até <strong>4x</strong> de <strong>R$ 25,00</strong> sem juros</h5>
                                </div>
                            </div>
                        </a>
                    </article>

                    <article class="cards">
                        <a href="/produto/4">
                            <div id="bone4"></div>

                            <div class="info">
                                <div class="etiqueta">
                                    <h3>Boné Roxo</h3>
                                    <h4>R$ 100,00</h4>
                                    <h5>ou até <strong>4x</strong> de <strong>R$ 25,00</strong> sem juros</h5>
                                </div>
                            </div>
                        </a>
                    </article>

                </section>
            </main>

            <%- include('partials/footer')%>

</body>

</html>