<!DOCTYPE html>
<html lang="en">
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zé Boné - Tudo para sua cabeça</title>
    <link rel="stylesheet" href="/stylesheets/styleCarrinho.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="icon" type="image/x-icon" href="/images/logo/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
</head>

<body>
    <%- include('partials/header')%>

        <main class="container" id="notLogged">
            <h1>
                Você precisa estar logado para ter acesso a essa sessão. <br /><br />
                Retorne e <a href="/users/login">faça seu Login</a> <br /><br />
                Caso não seja cadastrado,
                <a href="/users/cadastro">crie sua conta</a>. É rapidinho!
            </h1>
        </main>

        <%- include('partials/footer')%>
</body>

</html>

</html>