/*********MAIN*********/
main {
    padding-top: 5vw;
    display: flex;
    height: 86vh;
    align-items: center;
    justify-content: center;
}

#product {
    display: flex;
    background-color: white;
    width: 50%;
    padding: 1.7rem 3rem;
    justify-content: space-between;
    height: auto;
}

#main-img img {
    width: 110%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

#sec-imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width: 110%;
}

#sec-imgs img {
    width: 30%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

#prod-descr {
    display: flex;
    flex-direction: column;
    width: 150vw;
    margin-left: 3vw;
}

#prod-descr #prod-name {
    font-size: 2.5rem;
}

#prod-name {
    margin: 0rem 1rem;    
}

#descr-txt {
    margin: 2rem 1rem;    
}

#pay-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    padding: 0 3rem;
    margin-left: 2rem;
    height: auto;
}

#price h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
}

#price p {
    margin-top: 1rem;
    font-size: 1.3rem;
}

article h3 {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #bdbdbd
}

#frete #cep {
    width: 8vw;
    min-width: 8rem;
    height: 2.5rem;
    margin-top: 1.5rem;;
}

#frete input::placeholder {
    padding-left: 1rem;
}

#frete #button {
    width: 4vw;
    min-width: 3rem;
    height: 2.5rem;
    background-color: #005C53;
    border-radius: 3px;
    border: none;
    color: white;
}

#buy-button {
    background-color: #005C53;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
    margin: 2rem 0;
}

#buy-button img {
    width: 2rem;
}

#buy-button p {
    font-size: 1.5rem;
    color: white;
}

/******MEDIA QUERIES******/

@media (max-width:480px) {
    main {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }

    #product {
        flex-direction: column;
        width: 90%;
        margin-top: 7vh;
        padding: 2rem;
        justify-content: space-between;
        height: auto;
    }

    #main-img {
        width: 100%;
    }

    #main-img img {
        width: 100%;
    }

    #sec-imgs {
        width: 100%;
    }

    #sec-imgs img {
        width: 22vw;
    }

    #prod-name {
        width: 85vw;
    }

    #prod-descr {
        width: 85vw;
        padding-top: 1rem;
    }

    #descr-txt {
        margin-top: 1rem;
        width: 70vw;
    }

    #pay-info {
        width: 90%;
        height: auto;
        margin-left: 0;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
}

@media (min-width:481px) and (max-width:768px) {
    main {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }

    #product {
        flex-direction: column;
        width: 90%;
        margin-top: 7vh;
        padding: 2rem;
        justify-content: space-between;
        height: auto;
    }

    #main-img {
        width: 100%;
    }

    #main-img img {
        width: 100%;
    }

    #sec-imgs {
        width: 100%;
    }

    #sec-imgs img {
        width: 22vw;
    }

    #prod-name {
        width: 85vw;
    }

    #prod-descr {
        width: 85vw;
        padding-top: 1rem;
    }

    #descr-txt {
        margin-top: 1rem;
        width: 70vw;
    }

    #pay-info {
        width: 90%;
        height: auto;
        margin-left: 0;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
}

@media (min-width:769px) and (max-width:1279px) {
    main {
        padding-top: 15vw;
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    #product {
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1.5rem;
    }

    #images {
        width: 100%;
    }

    #main-img img {
        width: 100%;
    }

    #sec-imgs {
        width: 100%;
        justify-content: space-between;
    }

    #sec-imgs img {
        width: 30%;
    }
    
    #prod-descr {
        max-width: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        padding: 0;
    }
    
    #prod-descr #prod-name {
        font-size: 2.5rem;
    }
    
    #prod-name {
        margin-top: 2rem;   
    }
    
    #descr-txt {
        margin: 1.5rem 1rem;    
    }

    #pay-info {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 80%;
        height: auto;
        margin-left: 0;
        margin-bottom: 1.5rem;
    }
}

